@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ласкаво просимо до WarehouseEngine</h1>
    <p>що бажаєте зробити?</p>
    <div>
        <a asp-action="Index" asp-controller="Supplier">Переглянути постачальників</a>
    </div>    
    <div>
        <a asp-action="Index" asp-controller="Product">Переглянути продукти</a>
    </div>

</div>
